.first{
    padding-top:77px;
}

.navbar-fixed-top
{
	margin-bottom: -77px
}

.first-66{
    padding-top:66px;
}

.navbar-fixed-top-66
{
	margin-bottom: -66px
}

.first-46{
    padding-top:46px;
}

.navbar-fixed-top-46
{
	margin-bottom: -46px
}